# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.



/main/seismometer/shindo_iir_filter.*

# production
/build
/build*


sdkconfig
/sdkconfig?*
!/sdkconfig_eqis1
!/sdkconfig_cyd

#components
/managed_components
/managed_components/*

/fatfs_long_name_image/*.csv

/memo*
/test*

.roo
.cursor
.cline

.DS_Store
.vscode